@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@layer base{
    button{
        @apply border-[1.5px] border-solid border-gray-600 rounded-[20px] px-3 py-1 
    }
    input{
        @apply border-[1.5px] border-solid border-gray-
    }
}
