@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@layer base{
    button{
        @apply border-2 border-solid rounded-5 px-3 py-1 
    }
}
